html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../Site_Conselho/images/gramado.jpeg");
}

p {  
    padding-top: 120px;
}

h1 {
    font-size: 80px;
    color: #150072;
}

h2 {
    font-size: 40px;
    margin-bottom: -20px;
    color: #dba40b;
}

.btn {
    margin-top: -160px;
    background-color: #2b0fcc;
    color: rgb(255, 255, 255);
    width: 250px;
    height: 60px;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.288);
}

.btn:hover {
    color: #af9c90;
    background-color: #49003dc5;
    transition-duration: 1s;
}

.container {
    margin-top: 100px;
}